click==7.1.2
Cython==0.29.21
dataclasses==0.8
Flask==1.1.2
fuzzywuzzy==0.18.0
gensim==4.0.1
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
lxml==4.6.3
MarkupSafe==1.1.1
nltk==3.6.2
numpy==1.19.5
Pillow==8.2.0
python-docx==0.8.10
regex==2021.4.4
scipy==1.5.4
smart-open==5.0.0
tqdm==4.60.0
Werkzeug==1.0.1
